<!DOCTYPE HTML>
<html>
  <head>
    <title>TodoMVC - sinatra</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/application.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
